/* Modal Content/Box */
.exportModal-content {
  background-color: #1d1d27;
  color:white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  /* border: 1px solid #888; */
  height: 100px;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 2em; /*rounded corners*/
}

/* edge/node icons */
.exportIcon-float{
  padding:0;
  width: 80%;
  margin: 0 auto;
  margin-top:22px;
  animation: strok 1.5s reverse;
}

.importIcon-float{
  padding:0;
  width: 80%;
  margin: 0 auto;
  margin-top:22px;
  animation: strok 1.5s reverse;
}