#first, ignore everything
*.*
# especially we do not want these directories
node_modules/
platforms/
plugins/
# but upload the git files
!.gitattributes
!.gitignore
!.gitkeep
#and the readme
!readme.md
#last, we only want to sync js, html and the www directory
!*.js
!*.html
!*.css
!resources/**
!www/**
#include the config files
!config.xml
!package.json

!platforms/android/app/build/outputs/apk/debug/app-debug.apk